
 <header class="bg-white fixed z-[500] w-full shadow-sm">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
      <div class="flex justify-between items-center py-4">
        <div class="flex items-center">
          <h1 class="text-2xl font-bold">
            <span class="text-orange-500">Register</span>
            <span class="text-primary-900">Richy48</span>
          </h1>
        </div>
        <nav class="hidden md:flex space-x-8">
          <a routerLink="/" routerLinkActive="text-accent-300" [routerLinkActiveOptions]="{exact: true}" class="text-gray-700 hover:text-orange-500">
            Accueil
          </a>
          <a routerLink="/#offers" routerLinkActive="text-accent-300" [routerLinkActiveOptions]="{exact: true}" class="text-gray-700 hover:text-orange-500">
            Offres
          </a>
          <a routerLink="/#about" routerLinkActive="text-accent-300" [routerLinkActiveOptions]="{exact: true}" class="text-gray-700 hover:text-orange-500">
            À propos
          </a>
        </nav>
        </div>
    </div>
  </header>
